export(bounded.reg)
exportClasses(cvpen)
exportClasses(quadrupen)
exportClasses(stability.path)
export(crossval)
export(elastic.net)
export(group.lasso)
export(lasso)
exportMethods(criteria)
exportMethods(deviance)
exportMethods(fitted)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(residuals)
exportMethods(show)
export(ridge)
export(stability)
importFrom(graphics,plot)
importFrom(stats,deviance)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,residuals)
import(ggplot2)
import(grid)
import(Matrix)
import(methods)
import(parallel)
import(Rcpp)
import(RcppArmadillo)
import(reshape2)
import(scales)
useDynLib(quadrupen)
